#logo {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.nav-ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-ul li a {
  display: inline-block;
  color: #333;
  text-decoration: none;
  color: $dark-blue-text;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
  margin: 2rem;
  display: block;

  &:hover {
    transform: translateY(-2px);
    text-shadow: 1px 1px 1px $primary-color;
    border-bottom: 2px solid $secondary-color;
  }
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: #333;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.hamburger:focus {
  outline: none;
}

@media screen and(max-width: 768px) {
  .nav-ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-ul.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .nav-ul li a {
    padding: 10px;
  }
}

// Tablet Responsiveness
@media only screen and (max-width: 768px) {
	.nav-ul li a {
		padding: 1rem;
		margin: 1rem;
	}
}